.section1
{
position:absolute;
background-color:#C3B1E1;
height:287px;
width:415px;
}
.frame3
{
height:40px;
width:87px;
padding:0px;
left:257px;
top:187px;
position:relative;
}
.button
{
background-color:#65558f;
height:40px;
width:87px;
border-radius:100px;
padding:0px;
display:flex;
flex-direction:column;
gap:8px;
border-style:hidden;
outline:none;
left:293px;
top:201px;
position:absolute;
}
.state-layer
{
height:40px;
width:87px;
padding-left:24px;
padding-right:24px;
padding-top:10px;
padding-bottom:10px;
display:flex;
flex-direction:row;
flex-wrap:nowrap;
justify-content:center;
align-items:center;
gap:8px;
position:relative;
}
.label-text
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:14px;
font-family:Roboto;
align-self:flex-start;
left:24px;
top:10px;
position:absolute;
letter-spacing:0.10000000149011612px;
line-height:20px;
border-style:hidden;
outline:none;
width:39px;
display:flex;
}
.inputfield
{
height:73px;
width:240px;
padding:0px;
display:flex;
flex-direction:column;
gap:8px;
border-style:hidden;
outline:none;
top:28px;
left:69px;
position:absolute;
}
.label2
{
color:#1e1e1e;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Inter;
line-height:35.9999976158142px;
border-style:hidden;
outline:none;
width:240px;
}
.input2
{
background-color:#ffffff;
height:10px;
width:240px;
border-radius:8px;
padding-left:16px;
padding-right:16px;
padding-top:12px;
padding-bottom:12px;
display:flex;
flex-direction:row;
flex-wrap:nowrap;
justify-content:flex-start;
align-items:center;
position:absolute;
top:30px;
left:0px;
}
.inputfield2
{
height:70px;
width:240px;
padding:0px;
display:flex;
flex-direction:column;
gap:8px;
border-style:hidden;
outline:none;
top:108px;
left:69px;
position:absolute;
}
.label3
{
color:#1e1e1e;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Inter;
line-height:30.9999976158142px;
border-style:hidden;
outline:none;
width:240px;
}
.input4
{
background-color:#ffffff;
height:10px;
width:240px;
border-radius:8px;
padding-left:16px;
padding-right:16px;
padding-top:12px;
padding-bottom:12px;
display:flex;
flex-direction:row;
flex-wrap:nowrap;
justify-content:flex-start;
align-items:center;
position:absolute;
top:30px;
left:0px;
}
